section#about h2 {
    text-align: center;
    color: var(--colore_titoli);
    font-size: 30px;
    margin: 25px 0px 15px 0px;
    font-family: "Trebuchet MS", Arial, "Lucida Grande", sans-serif;
    letter-spacing: 3px;
}

section#about img {
    width: 75%;
    display: block;
    margin: auto auto 2.7rem auto;
    border-radius: 20px;
    outline: 2px solid black;
    outline-offset: -1px;
}

section#about p.descrizione {
    color: var(--colore_titoli);
    font-size: 15px;
    margin: 23px;
    line-height: 1.7;
    text-align: justify;
}

section#about span.marked {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}