/* Media query per dimensioni molto basse */
@media (max-width: 340px) {    
    #logo_svg {
        font-size: 22.5px;
    }

    section#home h1 {
        font-size: 35px;
    }
}


/* Media query mobile landscape */
@media (orientation: landscape) and (pointer: coarse) and (max-width: 1000px) {

    /*  Layout menu */
    #logo_svg {
        font-size: 30px;
    }

    #menu {
        height: 45svh;
        padding: 0px 0px 12px 0px;
        gap: 15px;
    }

    #btn_light_dark_toggle {
        position: static;
        height: fit-content;
        margin: 0px auto;
    }

    #menu {
        flex-direction: row;
        align-items: center;
    }

    #menu a {
        font-size: max(20px, 2.8vw);
        gap: 5px;
    }

    #menu li {
        margin: 15px auto 0px auto;
        padding: 0px;
    }

    #menu li svg {
        width: max(21px, 3.2vw);
    }

    /* Layout home */
    section#home img {
        width: 45%;
    }

    section#home svg#sfondo_immagine_personale {
        top: 10%;
        left: 50%;
        transform: translateX(-70%);
        width: 45%;
    }

    /* Layout skills */
    #skill_section div.skill_container {
        width: 60%;
    }

    #skill_section svg {
        width: 29%;
    }

    #skill_section ul.skill_list li {
        font-size: 15px;
    }

    /* Layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: auto;
    }

    section#projects img {
        width: 100%;
    }

    section#projects a {
        width: 60%;
        max-width: none;
    }
}



/* Media query tablet verticale */
@media (min-width: 600px) and (min-height: 600px) {

    /* Layout menu */
    #logo_svg {
        font-size: 36.5px;
    }

    #menu a {
        font-size: 27px;
    }

    #menu li svg {
        width: 33px;
    }

    #btn_light_dark_toggle svg {
        width: 25px;
        height: 25px;
    }

    /* Layout home */
    section#home p:first-child {
        font-size: 20px;
    }

    section#home h1 {
        font-size: 60px;
    }

    section#home svg#sfondo_immagine_personale {
        transform: translateX(-62%);
    }

    /* Layout about e p + a + figcaption*/
    section#about h2,
    section#projects h2,
    section#contacts h2 {
        font-size: clamp(35px, 6.5vw, 52px);
    }

    p,
    a,
    figcaption {
        font-size: clamp(16px, 3vw, 20px);
    }

    section#about img {
        max-width: 370px;
    }

    section#about h3 {
        font-size: clamp(23px, 4.35vw, 38px);
    }

    section#about svg#skill_arrow {
        width: 34px;
    }

    #skill_section {
        gap: 11rem;
    }

    #skill_section div.skill_container {
        width: 85%;
        max-width: 650px;
    }

    #skill_section svg {
        max-width: 160px;
    }

    #skill_section div.skill_name {
        font-size: 28px;
    }

    #skill_section ul.skill_list {
        padding-left: 40px;
    }

    #skill_section ul.skill_list li {
        font-size: 19px;
        letter-spacing: 1px;
    }

    /* layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: 40px auto auto auto;
    }

    section#projects a {
        min-width: 195px;
        max-width: none;
    }

    /* Layout contatti */
    section#contacts svg {
        width: clamp(25px, 4.68vw, 40px);
    }

    #footer_svg {
        width: clamp(20px, 3.5vw, 25px);
    }

    #footer_paragrafo {
        font-size: clamp(11px, 2.05vw, 14.5px);
    }
}

/* Media query tablet orizzontale */
@media (min-width: 960px) and (pointer: coarse) and (orientation: landscape) {

    /* layout menu */
    #logo_svg {
        font-size: 36.5px;
    }

    #menu {
        flex-direction: row;
        align-items: center;
        height: 45svh;
        padding: 0px 0px 12px 0px;
        gap: 15px;
    }

    #menu a {
        font-size: 27px;
    }

    #menu li {
        margin: 15px auto 0px auto;
        padding: 0px;
    }

    #menu li svg {
        width: 33px;
    }

    #btn_light_dark_toggle {
        position: static;
        height: fit-content;
        margin: 0px auto;
    }

    #btn_light_dark_toggle svg {
        width: 25px;
        height: 25px;
    }

    /* layout home */
    section#home p:first-child {
        font-size: 20px;
    }

    section#home h1 {
        font-size: 65px;
    }

    section#home img {
        max-width: 430px;
    }

    section#home svg#sfondo_immagine_personale {
        top: 10%;
        left: 50%;
        transform: translateX(-67%);
        max-width: 430px;
    }

    /* layout about */
    section#about h2,
    section#projects h2,
    section#contacts h2 {
        font-size: clamp(35px, 6.5vw, 52px);
    }

    p,
    a,
    figcaption {
        font-size: clamp(16px, 3vw, 20px);
    }

    section#about p.descrizione {
        margin: 20px 45px;
    }

    section#about img {
        max-width: 370px;
    }

    section#about h3 {
        font-size: clamp(23px, 4.35vw, 38px);
    }

    section#about svg#skill_arrow {
        width: 34px;
    }

    #skill_section {
        gap: 11rem;
    }

    #skill_section div.skill_container {
        width: 60%;
        max-width: 650px;
    }

    #skill_section svg {
        width: 30%;
        max-width: 160px;
    }

    #skill_section div.skill_name {
        font-size: 28px;
    }

    #skill_section ul.skill_list {
        padding-left: 40px;
    }

    #skill_section ul.skill_list li {
        font-size: 19px;
        letter-spacing: 2px;
    }

    /* layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: 40px auto auto auto;
    }

    section#projects a {
        max-width: none;
    }

    /* layout contatti */
    section#contacts svg {
        width: clamp(25px, 4.68vw, 40px);
    }

    #footer_svg {
        width: clamp(20px, 3.5vw, 25px);
    }

    #footer_paragrafo {
        font-size: clamp(11px, 2.05vw, 14.5px);
    }
}


/* Media query desktop */
@media (min-width: 1225px) and (pointer: fine) {
    /* layout menu */
    #logo_svg {
        font-size: 38px;
    }

    nav {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;
        gap: min(17.7%, 770.3px);
        padding: 0px;
    }

    #btn_menu_toggle {
        display: none;
    }

    #btn_light_dark_toggle {
        position: static;
        height: 31px;
    }

    #menu {
        transition: none;
        opacity: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        position: static;
        height: auto;
        width: fit-content;
        padding: 0px;
        transform: translateY(0px);
        pointer-events: auto;
        box-shadow: none;
        background-color: transparent;
    }

    #menu a {
        color: #f1f1f1;
    }

    #menu li {
        padding: 10px;
        margin: 0px;
        position: relative;
    }

    #menu li svg {
        position: absolute;
        bottom: -75px;
        opacity: 0;
        pointer-events: none;
        width: 42px;
        background-color: rgb(89, 89, 89);
        padding: 4px;
        border-radius: 5px;
        outline: 4px solid black;
        outline-offset: 0px;
        transition: opacity 0.5s ease;
    }

    #menu a:hover svg {
        opacity: 1;
    }

    /* layout home */
    section#home p:first-child {
        font-size: 25px;
    }

    section#home h1 {
        font-size: 80px;
    }

    section#home img {
        max-width: 500px;
    }

    section#home svg#sfondo_immagine_personale {
        max-width: 500px;
    }

    /* layout about */
    section#about h2,
    section#projects h2,
    section#contacts h2 {
        font-size: clamp(35px, 6.5vw, 52px);
    }

    p,
    a,
    figcaption {
        font-size: clamp(16px, 3vw, 20px);
    }

    section#about p.descrizione {
        margin: 20px 45px;
        text-align: left;
    }

    section#about img {
        width: 38%;
        max-width: 430px;
        margin-left: 45px;
    }

    div#chi_sono {
        display: flex;
        margin-top: 4.5rem;
        margin-bottom: 10.5rem;
    }

    section#about h3 {
        font-size: clamp(23px, 4.35vw, 38px);
    }

    #skill_section {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 0px;
        row-gap: 13rem;
        align-items: stretch;
        margin: 0px 45px;
    }

    #skill_section div.skill_container {
        width: 47%;
    }

    #skill_section svg {
        max-width: 150px;
    }

    #skill_section div.skill_name {
        font-size: 30px;
        margin: auto;
    }

    #skill_section ul.skill_list {
        padding-left: 40px;
    }

    #skill_section ul.skill_list li {
        font-size: 19px;
        letter-spacing: 2px;
    }

    /* layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: 40px auto auto auto;
    }

    section#projects img {
        width: 100%;
    }

    section#projects a {
        width: 66%;
        max-width: none;
        transition: transform 0.5s ease;
        outline-offset: 8px;
    }

    section#projects a:focus-visible {
        outline: 2px solid rgb(171, 171, 171);
    }

    section#projects a:hover {
        transform: translateY(-25px) scale(1.06);
    }

    /* layout contatti */
    section#contacts svg {
        width: 40px;
    }

    section#contacts a {
        display: inline-block;
    }

    section#contacts a::after {
        content: '';
        display: block;
        margin-top: 7px;
        height: 2px;
        width: 0px;
        background-color: var(--colore_sottolineatura);
        transition: width 0.8s ease;
    }

    section#contacts a:hover::after {
        width: 100%;
    }

    #footer_svg {
        width: 25px;
    }

    #footer_paragrafo {
        font-size: 15px;
    }

}