/* Media query mobile landscape */
@media (orientation: landscape) and (pointer: coarse) and (max-width: 1000px) {
    /*  Layout menu */
    #logo_svg {
        font-size: clamp(26px, 4.6vw, 40px);
    }

    #menu {
        height: calc(100svh - 130px);
        padding: 12px 0px;
        gap: 15px;
    }

    #menu {
        flex-direction: row;
    }

    #menu a {
        gap: 5px;
        font-size: 20px;
    }

    #menu li {
        margin: 10px auto 0px auto;
        padding: 0px;
    }

    #menu li svg {
        width: 33px;
    }

    #btn_light_dark_toggle {
        top: auto;
        right: auto;
        bottom: 15px;
    }

    /* Layout home */
    section#home img {
        width: 38%;
    }

    section#home figure {
        background-size: 60%;
        background-position: calc(50% - 5.8rem) 5px;
    }

    /* Layout about */
    section#about img {
        width: 335px;
    }

    /* Layout skills */
    #skill_section div.skill_container {
        width: 60%;
    }

    #skill_section svg {
        width: 140px;
    }

    #skill_section ul.skill_list li {
        font-size: 15px;
    }

    /* Layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: auto;
    }

    section#projects img {
        width: 100%;
    }

    section#projects a {
        width: 50%;
    }
}



/* Media query tablet verticale */
@media (orientation: portrait) and (min-width: 461px) {

    /* Layout menu */
    #logo_svg {
        font-size: clamp(26px, 4.6vw, 40px);
    }

    #menu a {
        font-size: 22px;
    }

    /* Layout home */
    section#home div:first-child {
        font-size: clamp(15px, 2.65vw, 23px);
    }

    section#home h1 {
        font-size: clamp(48px, 8.5vw, 80px);
    }

    section#home img {
        width: 55%;
    }

    section#home figure {
        background-size: 60%;
        background-position: calc(50% - 7rem) 5px;
    }

    /* Layout about e p + a + figcaption*/
    section#about h2,
    section#projects h2,
    section#contacts h2 {
        font-size: clamp(35px, 6.5vw, 52px);
    }

    p,
    a,
    figcaption {
        font-size: clamp(16px, 3vw, 20px);
    }

    section#about img {
        width: 64%;
    }

    section#about h3 {
        font-size: clamp(23px, 4.35vw, 38px);
    }

    #skill_section {
        gap: 11rem;
    }

    #skill_section div.skill_container {
        width: 75%;
    }

    #skill_section svg {
        width: 31%;
    }

    #skill_section div.skill_name {
        font-size: clamp(22px, 4.13vw, 37px);
    }

    #skill_section ul.skill_list {
        padding-left: 40px;
    }

    #skill_section ul.skill_list li {
        font-size: clamp(13.8px, 2.6vw, 25px);
        letter-spacing: 1px;
    }

    /* layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: 40px auto auto auto;
    }

    /* Layout contatti */
    section#contacts svg {
        width: clamp(25px, 4.68vw, 40px);
    }

    #footer_svg {
        width: clamp(20px, 3.5vw, 25px);
    }

    #footer_paragrafo {
        font-size: clamp(11px, 2.05vw, 14.5px);
    }
}

/* Media query tablet orizzontale */
@media (orientation: landscape) and (min-width: 901px) {

    /* layout menu */
    #logo_svg {
        font-size: clamp(26px, 4.6vw, 40px);
    }

    /* layout home */
    section#home div:first-child {
        font-size: clamp(15px, 2.65vw, 23px);
    }

    section#home h1 {
        font-size: clamp(48px, 8.5vw, 80px);
    }

    section#home img {
        width: 35%;
    }

    section#home figure {
        background-size: 45%;
        background-position: calc(50% - 7.5rem) 5px;
    }

    /* layout about */
    section#about h2,
    section#projects h2,
    section#contacts h2 {
        font-size: clamp(35px, 6.5vw, 52px);
    }

    p,
    a,
    figcaption {
        font-size: clamp(16px, 3vw, 20px);
    }

    section#about p.descrizione {
        margin: 20px 45px;
    }

    section#about img {
        width: 38%;
    }

    section#about h3 {
        font-size: clamp(23px, 4.35vw, 38px);
    }

    #skill_section {
        gap: 11rem;
    }

    #skill_section div.skill_container {
        width: 60%;
    }

    #skill_section svg {
        width: 21%;
    }

    #skill_section div.skill_name {
        font-size: clamp(22px, 4.13vw, 37px);
    }

    #skill_section ul.skill_list {
        padding-left: 40px;
    }

    #skill_section ul.skill_list li {
        font-size: clamp(13.8px, 2.6vw, 20px);
        letter-spacing: 2px;
    }

    /* layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: 40px auto auto auto;
    }

    section#contacts svg {
        width: clamp(25px, 4.68vw, 40px);
    }

    #footer_svg {
        width: clamp(20px, 3.5vw, 25px);
    }

    #footer_paragrafo {
        font-size: clamp(11px, 2.05vw, 14.5px);
    }
}


/* Media query desktop */
@media (min-width: 1135px) {
    /* layout menu */
    #logo_svg {
        font-size: clamp(26px, 4.6vw, 40px);
    }

    nav {
        height: 70px;
        align-items: center;
        justify-content: center;
        gap: min(17.7%, 770.3px);
        padding: 0px;
    }

    #btn_menu_toggle {
        display: none;
    }

    #btn_light_dark_toggle {
        position: static;
        height: 31px;
    }

    #menu {
        opacity: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        position: static;
        height: auto;
        width: fit-content;
        transform: translateY(0px);
        pointer-events: auto;
        box-shadow: none;
        background-color: transparent;
    }

    #menu a {
        color: rgb(229, 229, 229);
    }

    #menu li {
        padding: 10px;
        margin: 0px;
        position: relative;
    }

    #menu li svg {
        position: absolute;
        bottom: -70px;
        opacity: 0;
        pointer-events: none;
        width: 42px;
        height: 42px;
        background-color: rgb(89, 89, 89);
        padding: 4px;
        border-radius: 5px;
        outline: 4px solid black;
        outline-offset: 0px;
    }

    #menu a:hover svg {
        opacity: 1;
    }

    /* layout home */
    section#home div:first-child {
        font-size: clamp(15px, 2.65vw, 23px);
    }

    section#home h1 {
        font-size: clamp(48px, 8.5vw, 80px);
    }

    section#home img {
        width: 35%;
    }
    
    section#home figure {
        background-size: 45%;
        background-position: calc(50% - 9rem) 5px;
    }

    /* layout about */
    section#about h2,
    section#projects h2,
    section#contacts h2 {
        font-size: clamp(35px, 6.5vw, 52px);
    }

    p,
    a,
    figcaption {
        font-size: clamp(16px, 3vw, 20px);
    }

    section#about p.descrizione {
        margin: 20px 45px;
        text-align: left;
    }

    section#about img {
        width: 38%;
        margin-left: 45px;
    }

    div#chi_sono {
        display: flex;
        margin-top: 4.5rem;
        margin-bottom: 10.5rem;
    }

    section#about h3 {
        font-size: clamp(23px, 4.35vw, 38px);
    }

    #skill_section {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 0px;
        row-gap: 13rem;
        align-items: flex-start;
        margin: 0px 45px;
    }

    #skill_section div.skill_container {
        width: 47%;
    }

    #skill_section svg {
        width: 21%;
    }

    #skill_section div.skill_name {
        font-size: clamp(22px, 4.13vw, 37px);
    }

    #skill_section ul.skill_list {
        padding-left: 40px;
    }

    #skill_section ul.skill_list li {
        font-size: clamp(13.8px, 2.6vw, 21px);
        letter-spacing: 2px;
    }

    /* layout progetti */
    #contenitore_progetti {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin: 40px auto auto auto;
    }

    section#projects img {
        width: 100%;
    }

    section#projects a {
        transition: 0.5s ease;
    }

    section#projects a:hover {
        transform: translateY(-25px) scale(1.06);
    }

    /* layout contatti */
    section#contacts svg {
        width: clamp(25px, 4.68vw, 40px);
    }

    section#contacts a {
        display: inline-block;
    }

    section#contacts a::after {
        content: '';
        display: block;
        margin-top: 7px;
        height: 2px;
        width: 0px;
        background-color: var(--colore_sottolineatura);
        transition: 0.8s ease;
    }

    section#contacts a:hover::after {
        width: 100%;
    }

    #footer_svg {
        width: clamp(20px, 3.5vw, 25px);
    }

    #footer_paragrafo {
        font-size: clamp(11px, 2.05vw, 15px);
    }

}