#contenitore_progetti {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    margin-top: 40px;
}

section#projects figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    text-align: center;
}

section#projects a {
    display: inline-block;
    width: 68%;
    max-width: 260px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid rgb(111, 224, 232);
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

section#projects img {
    display: block;
    width: 100%;
    pointer-events: none;
}

section#projects figcaption {
    color: var(--colore_titoli);
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 6px;
}

section#projects .projectName {
    font-style: italic;
    font-weight: bold;
}

section#projects .projectDescription {
    color: var(--colore_descrizione_progetti);
}