/* Settaggi generali */
* {
    box-sizing: border-box;
    outline-offset: 5px;
    -webkit-tap-highlight-color: transparent;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body {
    margin: auto;
    min-width: 320px;
    max-width: 1550px;
    background-color: var(--bg_color);
    transition: background-color 0.35s;
    opacity: 0;
}

div#contenitore_madre {
    padding: 20px 25px;
}

p {
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

p {
    font-size: 16px;
}

figcaption {
    font-size: 18px;
}

section#projects .projectName {
    font-size: 23px;
}

a {
    font-size: 16px;
}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--hr);
    border: none;
    margin: 40px auto;
    border-radius: 20px;
}

.fade_in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-in-out;
}

.fade_in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Modalità chiara */
:root.light_mode {
    --bg_color: #fafafa;
    --bg_menu_color: rgb(238, 238, 238);
    --bg_menu_shadow: 0px 15px 30px 0px rgb(68, 68, 68);
    --bg_toggle_light_dark: rgb(34, 111, 150);
    --bg_home: url("../immagini/home_bg_light.webp");
    --colore_titoli: #353535;
    --colore_descrizione_progetti: rgb(92, 92, 92);
    --colore_frontend: rgb(106, 106, 106);
    --hr: #70889f;
    --github: #000000;
    --colore_sottolineatura: #353535;
}

/* Modalità scura */
:root.dark_mode {
    --bg_color: #1D2A35;
    --bg_menu_color: rgb(13, 55, 77);
    --bg_menu_shadow: 0px 15px 25px 0px rgb(19, 19, 19);
    --bg_toggle_light_dark: rgb(255, 255, 255);
    --bg_home: url("../immagini/home_bg_dark.webp");
    --colore_titoli: #f1f1f1;
    --colore_descrizione_progetti: #cacaca;
    --colore_frontend: rgb(125, 125, 125);
    --hr: #f1f1f1;
    --github: #FFFFFF;
    --colore_sottolineatura: #e0e0e0;
}