/* Settaggi generali + header */
* {
    box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body {
    margin: 0px auto;
    min-width: 320px;
    max-width: 1550px;
    background-color: #ffffff;
    visibility: hidden;
}

div#contenitore_madre {
    padding: 20px 30px;
}

p,
button,
summary {
    font-size: 16px;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 37px;
}

div#logo_contenitore {
    display: flex;
    gap: 7px;
    align-items: center;
    height: 37px;
}

div#carrello_contenitore {
    position: relative;
    width: fit-content;
    height: 37px;
}

div#prodotti_nel_carrello {
    position: absolute;
    left: -25px;
    bottom: -8px;
    background-color: rgb(44, 163, 44);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p#numero_prodotti {
    margin: 0px;
    font-size: 16px;
    color: white;
}

nav div#logo {
    font-size: 29px;
    font-family: 'Courier New', 'Lucida Console', 'Monaco', 'Andale Mono', monospace;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 4px;
}

nav svg {
    width: 22px;
}

svg#svg_carrello {
    width: 34px;
    height: 37px;
}

header {
    background-color: #35475f;
    padding: 15px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 67px;
}

p#prodotti_trovati {
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 30px;
    font-size: 22px;
}

/* Settaggi main */
#div_ricerca {
    position: relative;
    z-index: 0;
    width: 93%;
    margin: auto;
}

#div_ricerca input {
    display: block;
    width: 100%;
    height: 45px;
    margin: auto;
    border-radius: 8px;
    border: 2px solid black;
    padding: 0px 50px 0px 12px;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

#div_ricerca input::placeholder {
    opacity: 0.73;
}

#div_ricerca input:focus {
    outline: none;
}

#div_ricerca button#bottone_cerca {
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0px;
    background-color: #ff9655;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 41px;
    width: 40px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

#div_ricerca button svg {
    width: 20px;
    fill: black;
}

/* Sezione categorie disponibili */
div#contenitore_madre_categorie {
    margin-top: 2.5rem;
}

div#contenitore_madre_categorie p:first-child {
    margin-bottom: 8px;
}

div#contenitore_categorie {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div#contenitore_madre_categorie div.categoria {
    color: white;
    background-color: #35475f;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}

/* Sezione filtri */
/* Crescente o decrescente */
summary {
    width: fit-content;
    cursor: pointer;
}

div#contenitore_madre_filtri {
    margin-top: 40px;
}

div#contenitore_madre_filtri p.paragrafo_filtro {
    margin-top: 25px;
    margin-bottom: 7px;
    font-weight: bold;
}

div#div_crescente_decrescente {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div.div_crescente_decrescente_e_svg {
    display: flex;
    gap: 10px;
    background-color: #F8F8F8;
    width: fit-content;
    align-items: center;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.6s ease;
}

/* Regola CSS della sezione successiva, messa per effetto cascata */
.range_valore {
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    background-color: #F8F8F8;
    border: none;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.6s ease;
}

div.attivo,
div#div_input_valuta.attivo,
input.attivo {
    background-color: rgb(187, 238, 255);
}

div.div_crescente_decrescente_e_svg:focus {
    background-color: lightblue;
}

div.div_crescente_decrescente_e_svg button:first-child {
    color: black;
    background-color: transparent;
    border: none;
    padding: 0px;
}

/* Range prezzi */
svg.svg_prezzo {
    width: 15px;
}

div#contenitore_madre_filtri p.paragrafo_range {
    margin-top: 20px;
    margin-bottom: 7px;
}

div#div_range_prezzi {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

p.paragrafo_avviso {
    color: black;
    font-size: 25px;
    line-height: 2;
    margin: 0px;
}

.input_range {
    width: 95px;
    border: 0px;
    background-color: #F8F8F8;
    font-size: 17px;
}

.input_range:focus {
    outline: none;
}

div#div_input_valuta {
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
}

div#div_input_valuta p {
    margin: 0px;
    font-size: 17px;
}


/* Ordine alfabetico */
div#filtro_madre_prezzo {
    margin-bottom: 50px;
}

div#div_ordine_alfabetico {
    display: flex;
    gap: 12px;
}

div#div_ordine_alfabetico button,
button#reset_filtri {
    background-color: #F8F8F8;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
}

div#div_ordine_alfabetico button.attivo {
    background-color: rgb(187, 238, 255);
}

/* Azzera filtri */
div#filtro_madre_alfabeto {
    margin-bottom: 40px;
}

button#reset_filtri:active {
    background-color: rgb(187, 238, 255);
}

/* Sezione prodotti */
div#contenitore_prodotti {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.9fr));
    justify-items: center;
    justify-content: center;
    column-gap: 6rem;
    row-gap: 4.5rem;
    margin-bottom: 3rem;
    min-height: 70svh;
}

div#contenitore_prodotti div.prodotto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f8f8f8;
}

div#contenitore_prodotti img.prodotto {
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid black;
}

div#contenitore_prodotti p.titolo_prodotto {
    margin: 13px 10.5px 21px 10.5px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

div#contenitore_prodotti p.descrizione_prodotto {
    margin: 0px 16px 30px 16px;
    text-align: center;
}

div#contenitore_prodotti p.prezzo_prodotto {
    margin: 0px;
    font-size: 23px;
    color: #EA5B0C;
    font-weight: bold;
}

div#contenitore_prodotti div.contenitore_quantità {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 0px;
    position: relative;
}

div#contenitore_prodotti div.contenitore_quantità button:nth-of-type(1) {
    padding: 0px 0px 0px 12px;
}

div#contenitore_prodotti div.contenitore_quantità button:nth-of-type(2) {
    padding: 0px 12px 0px 0px;
}

div#contenitore_prodotti div.contenitore_quantità p.quantità,
div#contenitore_prodotti div.contenitore_quantità button {
    color: black;
    font-size: 22px;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
}

div#contenitore_prodotti div.contenitore_quantità button.operatore {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

div#contenitore_prodotti div.contenitore_prezzo_e_quantità {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 135px;
    margin-bottom: 30px;
}

/* Quantità attuale dei prodotti nel carrello */
div.div_quantità_nel_carrello {
    display: flex;
    gap: 7px;
    align-items: center;
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translateX(-50%);
}

p#paragrafo_x,
p#paragrafo_quantità_nel_carrello {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #2B2B2B;
}

svg#svg_quantità_carrello {
    width: 25px;
}

button#bottone_aggiungi_carrello {
    font-size: 20px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: black;
    margin: 35px 0px 15px 0px;
    padding: 6px 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: #1ac442;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}


/* Bottone torna su */
button#torna_su {
    background-color: rgb(157, 228, 157);
    width: 40px;
    padding: 5px 0px 3px 0px;
    border: none;
    border-radius: 50%;
    position: sticky;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button#torna_su svg {
    width: 25px;
    height: 28px;
}