/* Settaggi generali + header */
* {
    box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body {
    margin: 0px auto;
    min-width: 320px;
    max-width: 1550px;
    background-color: #ffffff;
}

a {
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

div#contenitore_madre {
    padding: 20px 25px;
}

a#torna_portfolio {
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #414040;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    position: relative;
    top: -5px;
    left: -15px;
    outline-offset: 5px;
    outline-color: black;
}

a#torna_portfolio:active {
    background-color: #313030;
}

p,
button {
    font-size: 16px;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    color: black;
}

button {
    transition: background-color 0.15s ease-in-out;
}

summary {
    font-size: 18px;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    width: fit-content;
    outline-color: black;
    outline-offset: 3.5px;
}

summary:focus {
    outline-offset: 3px;
}

details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-left: 23px;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 15px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlnb24gcG9pbnRzPSIwLDAsOCw2IDAsMTIiIGZpbGw9IiMwMDAiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%) rotate(0deg);
    transform-origin: center;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: translateY(-50%) rotate(90deg);
}

a,
summary,
button {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
}

input,
button,
div {
    -webkit-tap-highlight-color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    max-width: 1550px;
}

div#logo_contenitore {
    display: flex;
    gap: 4.5px;
    align-items: center;
    height: 48px;
    cursor: pointer;
}

nav a {
    height: fit-content;
    outline: none;
}

nav a:focus-visible {
    outline: 2px solid black;
    outline-offset: 3px;
    display: inline-block;
}

div#carrello_contenitore {
    position: relative;
    width: fit-content;
    height: 40px;
}

div#prodotti_nel_carrello {
    position: absolute;
    left: -27px;
    bottom: -4px;
    background-color: rgb(44, 163, 44);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p#numero_prodotti {
    margin: 0px;
    font-size: 17px;
    color: white;
}

nav a#logo {
    font-size: 27px;
    font-family: 'Courier New', 'Lucida Console', 'Monaco', 'Andale Mono', monospace;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 4px;
    text-decoration: none;
}

#borsaSvg {
    width: 22px;
}

svg#svg_carrello {
    width: 34px;
    height: 37px;
}

header {
    background-color: #35475f;
    padding: 10px 13px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 67px;
}

p#prodotti_trovati {
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 30px;
    font-size: 28px;
}

/* Settaggi main */
#div_ricerca {
    position: relative;
    z-index: 0;
    width: 93%;
    max-width: 500px;
    margin: 45px auto 17px auto;
}

#div_ricerca input {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 45px;
    margin: auto;
    border-radius: 8px;
    border: 2px solid black;
    padding: 0px 50px 0px 12px;
    font-size: 16px;
    outline: none;
}

#div_ricerca input::placeholder {
    opacity: 0.73;
}

#div_ricerca input:focus {
    outline: 1px solid black;
}

#bottone_cerca {
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0px;
    background-color: #ff9655;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 40px;
    cursor: pointer;
    outline-offset: 6px;
    outline-color: black;
}

#bottone_cerca:active {
    background-color: #f08d50;
}

#div_ricerca button svg {
    width: 20px;
    fill: black;
}

/* Sezione categorie disponibili */
div#contenitore_madre_categorie {
    margin-top: 0px;
}

div#contenitore_madre_categorie p:first-child {
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 0px;
}

div#contenitore_categorie {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button.categoria {
    font-size: 16px;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    color: white;
    background-color: #35475f;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    outline-offset: 4.5px;
    outline-color: black;
}

button.categoria:active {
    background-color: rgb(80, 106, 142);
}

/* Sezione filtri */
/* Crescente o decrescente */
div#contenitore_madre_filtri {
    margin-top: 40px;
}

div#contenitore_madre_filtri p.paragrafo_filtro {
    margin-top: 25px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 18px;
}

div#div_crescente_decrescente {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div.div_crescente_decrescente_e_svg {
    display: flex;
    gap: 10px;
    background-color: #F8F8F8;
    width: fit-content;
    align-items: center;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

/* Regola CSS della sezione successiva, messa per effetto cascata */
.range_valore {
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    background-color: #F8F8F8;
    border: none;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

div.attivo,
div#div_input_valuta.attivo,
input.attivo {
    background-color: rgb(187, 238, 255);
}

div.div_crescente_decrescente_e_svg button:first-child {
    color: black;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}

/* Range prezzi */
svg.svg_prezzo {
    width: 15px;
}

div#contenitore_madre_filtri p.paragrafo_range {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 7px;
}

div#div_range_prezzi {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

p.paragrafo_avviso {
    color: black;
    font-size: 25px;
    line-height: 2;
    margin: 0px;
}

.input_range {
    width: 95px;
    border: 0px;
    background-color: #F8F8F8;
    font-size: 16px;
    outline: none;
}

div#div_input_valuta {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: #F8F8F8;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
}

div#div_input_valuta:focus-within {
    outline: 1px solid black;
}

div#div_input_valuta p {
    margin: 0px;
    font-size: 16px;
}


/* Ordine alfabetico */
div#filtro_madre_prezzo {
    margin-bottom: 50px;
}

div#div_ordine_alfabetico {
    display: flex;
    gap: 12px;
}

button.alfabetico {
    background-color: #F8F8F8;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.6s;
}

button.reset {
    background-color: #F8F8F8;
    border: 1px solid #35475f;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.focus {
    outline-color: black;
    outline-offset: 5px;
}

div#div_ordine_alfabetico button.attivo {
    background-color: rgb(187, 238, 255);
}

/* Azzera filtri */
div#filtro_madre_alfabeto {
    margin-bottom: 40px;
}

button#reset_filtri:active {
    background-color: rgb(187, 238, 255);
}

/* Sezione prodotti */
div.torna_home {
    display: flex;
    justify-content: center;
}

a.link_home {
    font-size: 17px;
    text-decoration: none;
    color: #1f2937;
    font-style: italic;
    letter-spacing: 1px;
    background-color: #fbbf24;
    padding: 4px 12px;
    border-radius: 6px;
    border: 2px solid orange;
    cursor: pointer;
    outline-offset: 6px;
}

div#contenitore_prodotti {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(260px, 310px));
    justify-items: center;
    justify-content: center;
    row-gap: 4.5rem;
    column-gap: 2.5rem;
}

div#contenitore_prodotti div.prodotto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f8f8f8;
}

div#contenitore_prodotti img.prodotto {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid black;
}


div#contenitore_prodotti p.titolo_prodotto {
    margin: 13px 10.5px 21px 10.5px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

div#contenitore_prodotti p.descrizione_prodotto {
    margin: 0px 16px 30px 16px;
    text-align: center;
}

div#contenitore_prodotti p.prezzo_prodotto {
    margin: 0px;
    font-size: 23px;
    color: #EA5B0C;
    font-weight: bold;
}

div#contenitore_prodotti div.contenitore_quantità {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 12px;
    position: relative;
}

div#contenitore_prodotti div.contenitore_quantità p.quantità,
div#contenitore_prodotti div.contenitore_quantità button {
    color: black;
    font-size: 22px;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
}

div#contenitore_prodotti div.contenitore_quantità button.operatore {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline-offset: 2px;
    padding: 0px;
    width: fit-content;
    outline-color: black;
}

div#contenitore_prodotti div.contenitore_prezzo_e_quantità {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 135px;
    margin-bottom: 30px;
}

/* Quantità attuale dei prodotti nel carrello */
div.div_quantità_nel_carrello {
    display: flex;
    gap: 7px;
    align-items: center;
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translateX(-50%);
}

p#paragrafo_x,
p#paragrafo_quantità_nel_carrello {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #2B2B2B;
}

svg#svg_quantità_carrello {
    width: 25px;
}

button#bottone_aggiungi_carrello {
    font-size: 20px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 35px 0px 15px 0px;
    padding: 6px 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: #139030;
    cursor: pointer;
    outline-offset: 6px;
    outline-color: black;
}

button#bottone_aggiungi_carrello:active {
    background-color: #0e7025;
}

/* Bottone torna su */
button#torna_su {
    background-color: rgb(157, 228, 157);
    width: 40px;
    padding: 5px 0px 3px 0px;
    border: none;
    border-radius: 50%;
    position: sticky;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    cursor: pointer;
    outline-offset: 5px;
    outline-color: black;
}

button#torna_su svg {
    width: 25px;
    height: 28px;
}

/* Footer */
#footerHomePage {
    width: fit-content;
    margin: 5.5rem auto auto auto;
}

#footerHomePage p,
#footerHomePage a {
    font-style: italic;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    margin: 0px;
    color: black;
}

footer div.contenitore_github {
    margin-top: 1.8rem;
}

footer svg {
    width: 25px;
}

footer div.contenitore_github div:first-child {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 5px;
}



/* Form registrazione */
/* Settaggi generali */
.contenitoreGenerale * {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#formLinkSvg {
    margin-top: 3px;
    width: 35px;
}

h1.form {
    text-align: center;
    margin-top: 0px;
    font-size: 29px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

h2.form {
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 2rem;
}

/* Label ed input di testo*/
#inputTestoContenitore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: fit-content;
    margin: 0px auto 1.4rem auto;
    padding: 30px;
    border: 2px solid #D8D8D8;
    border-radius: 10px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
}

label.labelTesto {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input.inputTesto {
    font-size: 16px;
    width: 250px;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 6px 10px;
}

input.inputTesto:focus {
    outline: 3px solid rgb(72, 187, 240);
}

#controlliPasswordContenitore {
    margin-bottom: 2.5rem;
}

#controlliPasswordContenitore p {
    margin: 6px 0px;
    color: rgb(255, 18, 18);
}

#passwordSvg {
    width: 15px;
}

.errorePasswordContenitore {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Label ed input checkbox */
#inputCheckContenitore {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 3rem;
}

input[type='checkbox'] {
    width: 14px;
    height: 14px;
    cursor: pointer;
    outline: none;
}

input[type='checkbox']:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
}

label.inputCheck {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Bottone submit */
#buttonSubmitContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

#submitButton {
    background-color: #0070f3;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
}

#submitButton:focus-visible {
    outline: 2px solid black;
    outline-offset: 3px;
}

#submitButton:active {
    background-color: #0055b7;
}

/* Accedi */
#loginContenitore {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0.5rem;
}

p.login {
    font-size: 16px;
    margin: 0px;
}

a.login {
    font-size: 16px;
    background-color: #549d00;
    color: #ffffff;
    padding: 5px 13px;
    border-radius: 6px;
    text-decoration: none;
    outline: none;
}

a.login:focus-visible {
    outline: 2px solid black;
    outline-offset: 3px;
}

a.login:active {
    background-color: #437d00;
}

/* Componente NotFound */
.notfoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

.notfoundContainer h1 {
    font-size: 96px;
    margin: 0px 0px 20px 0px;
    color: #e63946;
}

.notfoundContainer p {
    font-size: 18px;
    margin-bottom: 12.8px;
}

.backHome {
    padding: 12px 24px;
    font-size: 17px;
    background-color: #0077cc;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.backHome:active {
    background-color: #0063aa;
}