/* Media query mobile landscape */
@media (orientation: landscape) and (pointer: coarse) and (max-width: 1000px) {

    /* Sezione header */
    div#contenitore_madre {
        padding: 25px;
    }

    nav {
        margin-bottom: 7px;
    }

    nav svg {
        width: 11.5%;
    }

    /* Sezione dati generali */
    div#dati_generali p:first-child {
        font-size: 35px;
    }

    /* Sezione meteo */
    p,
    #selettore_giorno button,
    header input {
        font-size: 18px;
    }

    p.avviso_ricerca {
        font-size: 16px;
    }

    div#meteo_attuale div.svg_e_gradi svg {
        width: 60px;
    }

    div#meteo_attuale div.svg_e_gradi svg.sole,
    div#meteo_attuale div.svg_e_gradi svg.nuvoloso {
        width: 70px;
    }

    footer p,
    footer a {
        font-size: 17px;
    }

    footer svg {
        width: 30px;
    }

}

/* Media query tablet verticale */
@media (orientation: portrait) and (min-width: 461px) {

    /* Sezione header */
    nav div#logo {
        font-size: clamp(35px, 7vw, 60px);
    }

    nav svg {
        width: 20%;
        max-width: 180px;
    }

    header #div_ricerca {
        width: 65%;
    }

    header input {
        width: 100%;
        font-size: clamp(16px, 3.3vw, 24px);
        padding: 0px 47px 0px 12px;
    }

    header button {
        top: 52%;
        right: 7px;
    }

    header button svg {
        width: clamp(18px, 3.5vw, 27px);
    }

    p.avviso_ricerca {
        font-size: clamp(14px, 2.85vw, 22px);
    }

    /* Sezione dati generali */
    div#dati_generali p:nth-child(1) {
        font-size: 45px;
    }

    /* Sezione meteo */
    p,
    #selettore_giorno button {
        font-size: clamp(16px, 3.3vw, 20px);
    }

    div#meteo_attuale div.fascia_oraria {
        grid-template-rows: 120px 60px;
    }

    div#meteo_attuale div.svg_e_gradi svg {
        width: 39%;
        max-width: 180px;
    }

    div#meteo_attuale div.svg_e_gradi svg.nebbia,
    div#meteo_attuale div.svg_e_gradi svg.sole,
    div#meteo_attuale div.svg_e_gradi svg.nuvoloso {
        width: 40%;
    }

    div#meteo_attuale div.svg_e_gradi {
        justify-content: flex-start;
        gap: 20px;
    }

    div#meteo_attuale div.quantita_e_vento div.vento,
    div#meteo_attuale div.quantita_e_vento div.pioggia {
        justify-content: flex-end;
        align-items: flex-start;
        column-gap: 15px;
    }

    div#meteo_attuale div.quantita_e_vento svg {
        width: 13%;
        max-width: 23px;
    }

    div#meteo_attuale div.fascia_oraria p {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    hr {
        margin: 0px auto 50px auto;
    }

    button#torna_su {
        width: 45px;
    }

    button#torna_su svg {
        width: 30px;
        height: 33px;
    }

    /* Sezione footer */
    footer p,
    footer a {
        font-size: 20px;
    }

    footer svg {
        width: clamp(30px, 6vw, 37px);
    }
}

/* Media query tablet orizzontale */
@media (orientation: landscape) and (pointer: coarse) and (min-width: 901px) {

    /* Sezione header */
    nav svg {
        width: 20%;
        max-width: 120px;
    }

    nav div#logo {
        font-size: clamp(35px, 7vw, 55px);
    }

    header #div_ricerca {
        width: 52%;
    }

    header input {
        width: 100%;
        font-size: clamp(16px, 3.3vw, 24px);
        padding: 0px 47px 0px 12px;
    }

    header button {
        top: 52%;
        right: 7px;
    }

    header button svg {
        width: clamp(18px, 3.5vw, 26px);
    }

    p.avviso_ricerca {
        font-size: clamp(14px, 2.85vw, 20px);
    }

    /* Sezione dati generali */
    div#dati_generali p:nth-child(1) {
        font-size: 55px;
    }

    /* Sezione meteo */
    p,
    #selettore_giorno button {
        font-size: clamp(16px, 3.3vw, 22px);
    }

    div#meteo_attuale {
        max-width: 1125px;
        margin-right: auto;
        margin-left: auto;
    }

    div#meteo_attuale div.fascia_oraria {
        grid-template-rows: 120px 60px;
    }

    div#meteo_attuale div.svg_e_gradi svg {
        width: 39%;
        max-width: 180px;
    }

    div#meteo_attuale div.svg_e_gradi svg.nebbia,
    div#meteo_attuale div.svg_e_gradi svg.sole,
    div#meteo_attuale div.svg_e_gradi svg.nuvoloso {
        width: 26%;
    }

    div#meteo_attuale div.svg_e_gradi {
        justify-content: flex-start;
        gap: 20px;
    }

    div#meteo_attuale div.quantita_e_vento div.vento,
    div#meteo_attuale div.quantita_e_vento div.pioggia {
        justify-content: flex-end;
        align-items: flex-start;
        column-gap: 15px;
    }

    div#meteo_attuale div.quantita_e_vento svg {
        width: 13%;
        max-width: 24px;
    }

    div#meteo_attuale div.fascia_oraria p {
        margin-top: 0px;
        margin-bottom: 35px;
    }

    hr {
        margin: 0px auto 90px auto;
    }

    button#torna_su {
        width: 45px;
    }

    button#torna_su svg {
        width: 30px;
        height: 33px;
    }

    /* Sezione footer */
    footer p,
    footer a {
        font-size: 21px;
    }

    footer svg {
        width: clamp(30px, 6vw, 37px);
    }
}

/* Media query desktop */
@media (min-width: 1200px) and (pointer: fine){

    /* Sezione header */
    header input:focus {
        outline: 2px solid white;
        outline-offset: 3px;
    }

    nav svg {
        width: 20%;
        max-width: 120px;
    }

    nav div#logo {
        font-size: clamp(35px, 7vw, 55px);
    }

    header #div_ricerca {
        width: 52%;
        max-width: 650px;
        margin-bottom: 10px;
    }

    header input {
        width: 100%;
        font-size: clamp(16px, 3.3vw, 30px);
        padding: 0px 47px 0px 12px;
    }

    header button {
        top: 52%;
        right: 7px;
    }

    header button svg {
        width: clamp(18px, 3.5vw, 26px);
    }

    p.avviso_ricerca {
        font-size: clamp(14px, 2.85vw, 20px);
    }

    /* Sezione dati generali */
    div#dati_generali p:nth-child(1) {
        font-size: 65px;
    }

    div#dati_generali div:first-child {
        gap: 25px;
    }

    div#dati_generali div:first-child svg {
        width: 37px;
    }

    div#dati_generali p:nth-child(3) {
        width: fit-content;
        margin: 64px auto 0px auto;
    }

    /* Sezione meteo */
    p,
    #selettore_giorno button {
        font-size: clamp(16px, 3.3vw, 22px);
    }

    div#selettore_giorno button:focus {
        outline: 3px solid black;
        outline-offset: -3px;
    }

    div#meteo_attuale {
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }

    div#meteo_attuale div.fascia_oraria {
        grid-template-rows: 120px 40px;
    }

    div#meteo_attuale div.svg_e_gradi svg {
        width: 39%;
        max-width: 180px;
    }

    div#meteo_attuale div.svg_e_gradi svg.nebbia,
    div#meteo_attuale div.svg_e_gradi svg.sole,
    div#meteo_attuale div.svg_e_gradi svg.nuvoloso {
        width: 22%;
    }

    div#meteo_attuale div.svg_e_gradi {
        justify-content: flex-start;
        gap: 20px;
    }

    div#meteo_attuale div.quantita_e_vento div.vento,
    div#meteo_attuale div.quantita_e_vento div.pioggia {
        justify-content: flex-end;
        align-items: flex-start;
        column-gap: 15px;
    }

    div#meteo_attuale div.quantita_e_vento svg {
        width: 13%;
        max-width: 24px;
    }

    div#meteo_attuale div.fascia_oraria {
        max-width: 1450px;
        margin: auto;
    }

    div#meteo_attuale div.fascia_oraria p {
        margin-top: 0px;
        margin-bottom: 35px;
    }

    hr {
        margin: 0px auto 120px auto;
    }

    button#torna_su {
        width: 45px;
    }

    button#torna_su:focus {
        outline: 2px solid black;
        outline-offset: 4px;
    }

    button#torna_su svg {
        width: 30px;
        height: 33px;
    }

    /* Sezione footer */
    footer p,
    footer a {
        font-size: 21px;
    }

    footer svg {
        width: clamp(30px, 6vw, 37px);
    }
}