/* Settaggi generali + header */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 20px;
    min-width: 390px;
    max-width: 1550px;
    transition: 0.5s ease;
    background-color: #ffffff;
    overflow: hidden;
}

p {
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

header {
    background-color: #5b9bd0;
    padding: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

nav div#logo {
    font-size: 35px;
    font-family: 'Courier New', 'Lucida Console', 'Monaco', 'Andale Mono', monospace;
    color: #e9e9e9;
    font-weight: bold;
    letter-spacing: 4px;
}

nav svg {
    width: 25%;
}

header input {
    display: block;
    width: 320px;
    height: 45px;
    margin: auto;
    border-radius: 8px;
    border: 2px solid black;
    padding: 0px 35px 0px 12px;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

header input:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}

header #div_ricerca {
    position: relative;
    width: fit-content;
    margin: auto;
}

header button {
    border: none;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    height: 100%;
    width: 35px;
    -webkit-tap-highlight-color: transparent;
}

header button:focus {
    outline: 2px solid black;
    outline-offset: -6px;
}

header button svg {
    width: 18px;
}


/* Sezione dati generali */
section#dati_generali {
    margin-top: 11.5rem;
}

section#dati_generali p:nth-child(1),
section#dati_generali p:nth-child(2) {
    font-size: 45px;
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 4px;
}

section#dati_generali p:nth-child(2) {
    font-size: 33px;
}

section#dati_generali p:nth-child(3) {
    font-size: 16px;
    margin: 35px 0px 0px 0px;
}

/* Sezione meteo attuale */
section#meteo_attuale {
    margin-top: 3.5rem;
}

section#meteo_attuale svg {
    width: 50px;
}

section#meteo_attuale div.fascia_oraria {
    display: grid;
    grid-template-rows: 40px 70px;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 15px;
}

section#meteo_attuale div.svg_e_gradi {
    display: flex;
    gap: 0px;
    justify-content: center;
    grid-row: span 2;
}

section#meteo_attuale div.quantita_e_vento {
    justify-self: end;
}
