/* Settaggi generali + header */
* {
    box-sizing: border-box;
}

div#contenitore_madre {
    padding: 18px;
}

body {
    margin: 0px;
    min-width: 390px;
    max-width: 1550px;
    background-color: #ffffff;
}

p, #selettore_giorno button {
    font-size: 14px;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

header {
    background-color: #5b9bd0;
    padding: 15px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

nav div#logo {
    font-size: 35px;
    font-family: 'Courier New', 'Lucida Console', 'Monaco', 'Andale Mono', monospace;
    color: #e9e9e9;
    font-weight: bold;
    letter-spacing: 4px;
}

nav svg {
    width: 25%;
}

header input {
    display: block;
    width: 320px;
    height: 45px;
    margin: auto;
    border-radius: 8px;
    border: 2px solid black;
    padding: 0px 35px 0px 12px;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

header input:focus {
    outline: 2px solid white;
    outline-offset: 3px;
}

header #div_ricerca {
    position: relative;
    width: fit-content;
    margin: auto;
}

header button {
    border: none;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    height: 100%;
    width: 35px;
    -webkit-tap-highlight-color: transparent;
}

header button:focus {
    outline: 2px solid black;
    outline-offset: -6px;
}

header button svg {
    width: 18px;
}


/* Sezione dati generali */
div#dati_generali {
    margin-top: 3rem;
}

div#dati_generali p:nth-child(1),
div#dati_generali p:nth-child(2) {
    font-size: 35px;
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 5px;
}

div#dati_generali p:nth-child(2) {
    font-size: 20px;
    letter-spacing: 1px;
}

div#dati_generali p:nth-child(3) {
    margin: 35px 0px 0px 0px;
}

/* Stile selettore giorno */
div#selettore_giorno {
    width: fit-content;
    margin: 60px auto 0px auto;
    padding: 5px 20px;
    display: flex;
    gap: 0px;
    display: none;
}

div#selettore_giorno button {
    color: black;
    background-color: #ececec;
    padding-right: 9px;
    padding-left: 9px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

div#selettore_giorno button:focus {
    outline: 3px solid black;
    outline-offset: -3px;
}

div#selettore_giorno button:nth-child(1) {
    border-right: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#selettore_giorno button:nth-child(2) {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#selettore_giorno button:nth-child(3) {
    border-left: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div#selettore_giorno button.attivo {
    background-color: #b7dfff;
}

hr {
    width: 90%;
    height: 2px;
    background-color: rgb(203, 203, 203);
    border: none;
    border-radius: 20px;
    margin: 25px auto;
    display: none;
}

/* Sezione meteo attuale */
div#meteo_attuale {
    margin-top: 1.2rem;
    margin-bottom: 6.5rem;
}

div#meteo_attuale div.svg_e_gradi svg {
    width: 50px;
}

div#meteo_attuale div.svg_e_gradi svg.sole,
div#meteo_attuale div.svg_e_gradi svg.nuvoloso {
    width: 60px;
}

div#meteo_attuale div.quantita_e_vento svg {
    width: 15px;
    min-width: 15px;
}

div#meteo_attuale div.fascia_oraria {
    display: grid;
    grid-template-rows: 40px 70px;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 15px;
}

div#meteo_attuale div.svg_e_gradi {
    display: flex;
    gap: 0px;
    justify-content: center;
    grid-row: span 2;
}


div#meteo_attuale div.quantita_e_vento div.vento,
div#meteo_attuale div.quantita_e_vento div.pioggia {
    display: flex;
    column-gap: 18px;
}

button#torna_su {
    background-color: rgb(157, 228, 157);
    width: 40px;
    padding: 5px 0px 3px 0px;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button#torna_su:focus {
    outline: 2px solid black;
    outline-offset: 3px;
}

button#torna_su svg {
    width: 25px;
    height: 28px;
}